body {
  background-color: #f44336;
}

.App {
  font-family: "Open Sans";
  padding: 1%;
}

.Regular-Text {
  font-size: 2vmax;
}

.Logo {
  font-family: "Kaushan Script";
  color: white;
  font-size: 10vh;
  width: 100%;
  height: 10%;
  text-align: center;
}

.Page {
  width: 100%;
  height: 90%;
  margin-top: 5vh;
}

.Login {
  width: 60%;
  margin-left: 20%;
}

.Link {
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: blue;
}

.Main-Menu {
  text-align: center;
}

.Menu-Button {
  width: 30vmax;
}

.Instructions {
  text-align: center;
  margin: 5%;
}

.Loading {
  text-align: center;
}

.Game {
  width: 40%;
  display: inline-block;
  text-align: center;
}

.User-Label {
  font-size: 2vmin;
  color: white;
  width: 25%;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.Opponent-Label {
  font-size: 2vmin;
  color: white;
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.Square {
  width: 12.5vw;
  height: 12.5vw;
  opacity: 0.15;
  color: black;
  font-size: 8.5vw;
  background: white;
  border: 0.25vw solid transparent;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;

  overflow: hidden;
  white-space: nowrap;
}

.Slider {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.End-Game {
  text-align: center;
}
