.App {
  color: white;
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
}

.Logo {
  font-family: 'Kaushan Script';
  font-size: 100px;
}

.Login {
  background-color: #f44336;
  text-align: left;
}

.Login-form {
  display: inline-block;
}

.Login-label {
  font-size: 20px;
  display: inline-block;
}

.Login-input {
  display: inline-block;
}

.Link {
  background: transparent;
  padding: 0;
  color: blue;
}
