body {
  background-color: #f44336;
}

.App {
  font-family: "Open Sans";
  height: 90vh;
}

.Regular-Text {
  font-size: 2vmax;
}

.Logo {
  font-family: "Kaushan Script";
  color: white;
  font-size: 10vh;
  width: 100%;
  padding-top: 1vh;
  height: 9vh;
  text-align: center;
}

.Page {
  width: 100%;
  height: 80vh;
  margin-top: 5vh;
}

.Navigation {
  text-align: center;
  height: 5vh;
  width: 100%;
}

.Navigation-Link {
  font-size: 2vmax;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
}

.Login {
  width: 60%;
  margin-left: 20%;
}

.Link {
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: blue;
}

.Main-Menu {
  height: 75vh;
  text-align: center;
}

.Menu-Button {
  width: 35vmax;
}

.Instructions {
  height: 80vh;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}

.Loading {
  text-align: center;
}

.Game {
  width: 40%;
  display: inline-block;
  text-align: center;
}

.User-Label {
  font-size: 2vmin;
  color: white;
  width: 25%;
  margin-left: 5%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.Opponent-Label {
  font-size: 2vmin;
  color: white;
  width: 25%;
  margin-right: 5%;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.Square-on {
  width: 12.5vw;
  padding-top: 0%;
  opacity: 0.15;
  color: black;
  font-size: 8.5vw;
  background: white;
  border: 0.25vw solid transparent;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow: hidden;
  white-space: nowrap;
}

.Square-off {
  width: 12.5vw;
  padding-top: 0%;
  opacity: 0.15;
  color: white;
  font-size: 8.5vw;
  background: white;
  border: 0.25vw solid transparent;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  overflow: hidden;
  white-space: nowrap;
}

.Slider {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.End-Game {
  text-align: center;
}
