.square {
	width: 100px;
	height: 100px;
	margin: 5px;
	opacity: 0.2;
	color: black;
	font-size: xx-large;
	background: white;
}

.slider {
	margin: 10px;
	width: 220px;
}

.bidButton {
	width: 100px;
	height: 40px;
}